
/* window close / minimize / maximize buttons*/
button.titlebutton{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
button.titlebutton.maximize:hover {
	background: #BFBFBF;
}
button.titlebutton.minimize:hover {
	background: #BFBFBF;
}
button.titlebutton.close:hover {
	background: #C90000;
}

button label {
	color: white;
	font-size: 15px;
	font-weight: bold;
}

#optionBtns {
	border-radius: 12px;
	background: #000069;
	margin: 10px;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#optionBtns:hover {
	background: #3D3DAF;
}

#btnRowBox {
	background-color: #E5E5E5;
}

#mainMenuBar {
	background: #ADD8E6;
}

